
<!DOCTYPE html>

<html>
<head>
<title>Olin Event Calendar</title>
<style>
html, body { margin: 0; padding: 0; }
iframe { display: block; }
p { padding: 10px 20px; margin: 0;}
</style>
</head>
<body>

<p><big><b>To add an event:</b> iCals sent to the carpediem@lists.olin.edu mailing list are automatically added to this calendar. To add an event yourself, send an email with an attached iCal to <a href="mailto:olineventcalendar@gmail.com">olineventcalendar@gmail.com</a></big></p>
<p><big><b>To correct an event:</b> Send an email to <a href="mailto:timothy.ryan@students.olin.edu">timothy.ryan@students.olin.edu</a> specifying what's wrong.</big></p>

<iframe src="https://www.google.com/calendar/embed?src=olineventcalendar%40gmail.com&amp;ctz=America/New_York&amp;mode=WEEK" style="border: 0; width: 100%" width="800" height="600" frameborder="0" scrolling="no"></iframe>


</body>
</html>
<!--https://developers.google.com/google-apps/calendar/v3/reference/acl/insert-->