<div class="person">
	<div class="person-image">
		<a href="{{ person.avatar }}?dl=false"><img src="{{ person.avatar }}{% if person.avatar|truncate(26, True, '') == "https://www.filepicker.io/" %}/convert?w=200&amp;h=200{% endif %}"></a>
	</div>
	<div class="person-inset">
	<h3 title="{{ person.name }}">{{ person.nickname or person.name }} {% if person.year %}({{ person.year }}){% endif %}</h3>
	<p class="description">
		{% if person.room %}{{ person.room }}<br>{% endif %}
		{% if person.phone %}<a href="tel:{{ person.phone }}">{{ person.phone }}</a><br>{% endif %}
		<a href="mailto:{{ person.preferredemail or person.email }}" title="person.email">{{ person.preferredemail or person.email }}</a><br>

		{% if person.facebook %}
		<a href="http://facebook.com/{{ person.facebook }}"><img src="/images/socialmedia/facebook.png"></a>
		{% endif %}
		{% if person.skype %}
		<a href="skype:{{ person.skype }}?call"><img src="/images/socialmedia/skype.png"></a>
		{% endif %}
		{% if person.google %}
		<a href="http://profiles.google.com/{{ person.google }}"><img src="/images/socialmedia/gplus2.png"></a>
		{% endif %}
		{% if person.twitter %}
		<a href="http://twitter.com/{{ person.twitter }}"><img src="/images/socialmedia/twitter.png"></a>
		{% endif %}
		{% if person.lastfm %}
		<a href="http://last.fm/user/{{ person.lastfm }}"><img src="/images/socialmedia/lastfm.png"></a>
		{% endif %}
		{% if person.pinterest %}
		<a href="http://pinterest.com/{{ person.pinterest }}"><img src="/images/socialmedia/pinterest.png"></a>
		{% endif %}
		{% if person.tumblr %}
		<a href="http://{{ person.tumblr }}.tumblr.com/"><img src="/images/socialmedia/tumblr.png"></a>
		{% endif %}
	</p>
</div>
</div>