{% extends "layout.html" %}
{% block content %}

<script>
$(function () {
	// Cache links list.
	var links = {};
	$('#person-list div.person').each(function () {
		links[$('h3', this).text().toLowerCase()] = this;
	});

	// Filter lists based on a keywords array.
	function filterList(keywords) {
		// If there are no keywords, show all links.
		if (!keywords.length) {
			$.each(links, function (title, link) {
				$(link).show()
			});
		} else {
			$.each(links, function (title, link) {
				$(link).removeClass('first')
				$.each(keywords, function (_, keyword) {
					if (!title.match(keyword)) {
						$(link).hide()
					} else {
						$(link).show()
					}
				})
			});
		}
	}

	// Keyup filter.
	$('#filter-input').keyup(function () {
		// Filter keywords
		var keywords = $.grep($('#filter-input').val().toLowerCase().split(/\s+/), $.trim);
		filterList(keywords);
	}).focus();
	// Filter initially so we update shortcut link.
	filterList([]);
})
</script>

<style>
#person-list { margin-top: 20px; overflow: auto; padding-bottom: 10px; }
#person-list div.person { float: left; margin-bottom: 15px; margin-right: 15px; width: 415px; }
#person-list div.person-inset { overflow: auto; box-shadow: #666 1px 1px 1px; width: 275px; float: left; background: #eee; padding: 10px 15px; height: 130px; }
#person-list h3 { margin: 5px 0 10px 0; font-size: 20px; line-height: 1.2; }
#person-list p.description { clear: left; margin: 0; }
#person-list p.description img { width: 20px; margin-top: 8px; }

.person-image { float: left; width: 100px; max-height: 150px; margin-right: 10px; overflow: hidden; box-shadow: #666 1px 1px 1px; }
.person-image img { width: 100px; }
.person-image img[src=''] { height: 100px; }

#header .header-search { padding: 5px 0 0 5px; vertical-align: baseline; }
</style>

<div id="header" class="form-search row">
	<h1>Directory (Beta)</h1>
	<div class="input-prepend header-search">
    <span class="add-on">
        <i class="icon-search"></i>
    </span>
	<input type="search" class="span3" placeholder="Filter names..." name="search" id="filter-input">
</div>

	<div id="header-controls">

<a href="#updateprofile" role="button" class="btn btn-info" data-toggle="modal">Update your profile</a>
<div class="modal hide fade" id="updateprofile">
	<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Update Your Profile</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="/api/me">
    Avatar URL: <input name="avatar" value="{{ user.avatar }}"><br>
		Nickname: <input name="nickname" value="{{ user.nickname }}"><br>
		Location/Room: <input name="room" value="{{ user.room }}"><br>
		Alternate e-mail address: <input name="preferredemail" value="{{ user.preferredemail }}"><br>
		Year: <input name="year" value="{{ user.year }}"><br>
		Phone #: <input name="phone" value="{{ user.phone }}"><br>
		<hr>
		Twitter ID: <input name="twitter" value="{{ user.twitter }}"><br>
		Facebook ID: <input name="facebook" value="{{ user.facebook }}"><br>
		Skype ID: <input name="skype" value="{{ user.skype }}"><br>
		Last.fm ID: <input name="lastfm" value="{{ user.lastfm }}"><br>
		Tumblr ID: <input name="tumblr" value="{{ user.tumblr }}"><br>
		Pinterest ID: <input name="pinterest" value="{{ user.pinterest }}"><br>
		<button>Submit</button>
		</form>
  </div>
	</div>
</div>
</div> 

<div class="container-fluid">
 <div id="person-list"> 

{% for person in people %}
<div class="person">
	<div class="person-image">
		<img src="{{ person.avatar }}">
	</div>
	<div class="person-inset">
	<h3>{{ person.nickname or person.name }} {% if person.year %}({{ person.year }}){% endif %}</h3>
	<p class="description">
		{% if person.room %}<b>Location:</b> {{ person.room }}<br>{% endif %}
		{% if person.phone %}<b>Phone:</b> <a href="tel:{{ person.phone }}">{{ person.phone }}</a><br>{% endif %}
		<a href="mailto:{{ person.preferredemail or person.email }}">{{ person.preferredemail or person.email }}</a><br>

		{% if person.twitter %}
		<a href="http://twitter.com/{{ person.twitter }}"><img src="/images/socialmedia/twitter.png"></a>
		{% endif %}
		{% if person.facebook %}
		<a href="http://facebook.com/{{ person.facebook }}"><img src="/images/socialmedia/facebook.png"></a>
		{% endif %}
		{% if person.skype %}
		<a href="skype:{{ person.skype }}?call"><img src="/images/socialmedia/skype.png"></a>
		{% endif %}
		{% if person.lastfm %}
		<a href="http://last.fm/user/{{ person.lastfm }}"><img src="/images/socialmedia/lastfm.png"></a>
		{% endif %}
		{% if person.pinterest %}
		<a href="http://pinterest.com/{{ person.pinterest }}"><img src="/images/socialmedia/pinterest.png"></a>
		{% endif %}
		{% if person.tumblr %}
		<a href="http://{{ person.tumblr }}.tumblr.com/"><img src="/images/socialmedia/tumblr.png"></a>
		{% endif %}
	</p>
</div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}